.body-hidden {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: rem(1170px);
  margin: 0 auto;
  position: relative;
}
section {
  width: 100%;
  position: relative;
}
.section {
  padding: rem(80px) 0;
  &--black{
    background: $black;
    color: $white;
    .text-block p{
      color: $white;
    }
    .text {
      color: $white;
    }
    .text-subtitle {
      color: $white;
    }
  }
  &--black-bg {
    background-image: url(../images/bg/section-black-bg.png);
    background-size: cover;
  }
  &--border-gold {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 2px;
      background: $middleGold;
      background: linear-gradient(to right, #855024, #B99063);
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $middleGold;
      background: linear-gradient(to right, #855024, #B99063);
    }
  }
}
.btn {
  display: inline-block;
  color: $white;
  text-transform: uppercase;
  padding:rem(9px) rem(35px);
  font-weight: 500;
  @include font-size(18px);
  transition: all 0.3s ease-out;
  outline:none;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  &--black {
    color: $white;
    background-color: $black;
    &:hover{
      color:$black;
      background-color: $lightGold;
      transition: all 0.3s ease-out;
    }
  }
  &--black-white {
    color: $white;
    background-color: $black;
    border: 1px solid $white;
    &:hover{
      color:$black;
      background-color: $white;
      transition: all 0.3s ease-out;
    }
  }
  &--white {
    color: $black;
    background-color: $white;
    &:hover{
      color:$white;
      background-color: $darkGold;
      transition: all 0.3s ease-out;
    }
  }
  &--black-border {
    color: $white;
    background-color: $black;
    border: 1px solid $white;

    &:hover{
      color:$black;
      background-color: $lightGold;
      transition: all 0.3s ease-out;
    }
  }
  &--gold-gradient {
    color: $white;
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $middleGold);
    border: 1px solid $white;

    &:hover{
      color: $black;
      background: $middleGold;
      background: linear-gradient(to right, $middleGold, $darkGold);
      transition: all 0.3s ease-out;
    }
  }
  &--transparent {
    color: $white;
    border: 1px solid $white;
    &:hover{
      color:$black;
      background-color: $white;
      transition: all 0.3s ease-out;
    }
    &.disabled {
      pointer-events: none;
      color: #CBCBCB;
      border-color: #CBCBCB;
      &:hover {
        background-color: transparent;
        color: #CBCBCB;
        border-color: #CBCBCB;
      }
    }
  }
}
.btn-border-effect {
  border: 1px solid $white;
  padding:rem(9px) rem(45px);
  &::before {
    content: "";
    position: absolute;
    height: 45px;
    width: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s ease-out;
  }
  &:hover {
    cursor: pointer;
    background-color: $white;
    color: $black;
    transition: all 0.3s ease-out;
    position: relative;
    &::before {
      left: 7px;
      top: 7px;
      border: 1px solid $darkGold;
      transition: all 0.3s ease-out;
    }
  }
}
.section-title__block {
  .section-title {
    display: inline-block;
  }
  &--center {
    text-align: center;
    .section-title--line::after {
      left: -10%;
    }
  }
}
.section-title {
  font-family: 'FuturaPT', sans-serif;
  font-weight: 700;
  @include font-size(36px);
  color: $black;
  text-align: center;
  position: relative;
  display: block;
  margin-bottom: rem(40px);
  &--not-triangle {
    margin-bottom: rem(20px);
  }
  &--white{
    color: $white
  }
  &--left {
    display: inline-block;
    text-align: left;
  }
  &--line {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left:0;
      width: 120%;
      height: 3px;
      background: $middleGold;
      background: linear-gradient(to right, $darkGold, $lightGold);
    }
  }
  &--triangle {
    &::after{
    content: "";
    position: absolute;
    left: calc(100% + 15px);
    top: calc(50% - 10px);
    border: 9px solid transparent;
    border-left: 14px solid $black;  
    }
  }
  &-bg {
    width: 100%;
    padding: rem(10px);
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
  }
}
.section-subtitle {
  font-weight: 700;
  @include font-size(36px);
  color: $black;
  text-transform: none;
  margin-bottom: rem(45px);
  position: relative;
  display: block;
  &--white{
    color: $white
  }
  &--center {
    text-align: center;
    &.section-subtitle--line {
      &::after {
        left: calc(50% - 135px);
      }
    }
  }
  &--line {
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left:0;
      width: 50%;
      max-width: rem(270px);
      height: 3px;
      background: $middleGold;
      background: linear-gradient(to right, $darkGold, $lightGold);
    }
  }
}
.subtitle-text {
  font-family: 'FuturaPT', sans-serif;
  font-style: normal;
  font-weight: 300;
  @include font-size(24px);
  line-height: 31px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  &--center {
    text-align: center;
  }
}
.text-block{
  @include font-size(14px);
  p {
    color: $black;
    line-height: 18px;
    margin-bottom: rem(18px);
    line-height: 1.4;
  }
  &--white {
    p {
      color: $white;
    }
  }
}
.fs-18 {
    @include font-size(18px);
}
.text {
  color: $black;
  @include font-size(14px);
  line-height: 18px;
  letter-spacing: 0.02em;
  &-small {
    text-transform: none;
  }
  &-subtitle {
    @include font-size(22px);
    margin-bottom: 10px;
  }
}
.text-list__item {
  @include font-size(14px);
  line-height: 18px;
  letter-spacing: 0.02em;
  position: relative;
  padding-left: 10px;
  margin-left: 15px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    width: 4px;
    top: calc(50% - 2px);
    background: $black;
    border-radius: 50%;
  }
}
.text-list {
  margin-bottom: rem(18px);
  @include font-size(14px);
  line-height: 18px;
  letter-spacing: 0.02em;
  &.fs-18 {
    .text-list__item {  
      @include font-size(18px);
      margin-bottom: 15px;
      line-height: 1.4;
      &::before {
        top: 10px;
      }
    }
  }
}
.fs-18 {
  @include font-size(18px);
}
.text-sublist__item {
  @include font-size(14px);
  line-height: 18px;
  letter-spacing: 0.02em;
  position: relative;
  padding-left: 15px;
  margin-left: 15px;
  &::before {
    content: "";
    position: absolute;
    left: 0;    
    height: 1px;
    width: 7px;
    background-color: $black;
    top: calc(50% - 2px);
  }
}
.text-sublist {
  margin-bottom: rem(18px);
  @include font-size(14px);
  line-height: 18px;
  letter-spacing: 0.02em;
  padding: 10px 0 0 20px;
  &.fs-18 {
    .text-sublist__item {  
      @include font-size(18px);
      line-height: 1.4;
      &::before {
        top: 12px;
      }
    }
  }
}
.line-text {
  width: 100%;
  height: 1px;
  background: $middleGold;
  background: linear-gradient(to right, $darkGold, $middleGold);
  margin-bottom: rem(20px);
  &--short {
    width: 25%;
  }
}
.text-small {
  text-transform: none;
}
.quote {
  text-align: center;
  display: block;
  position: relative;
  font-family: Georgia;
  @include font-size(60px);
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: rem(-20px);
  &::before {
    content:"";
    position: absolute;
    top: calc(50% - 17px);
    left:0;
    height: 2px;
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $lightGold);
    width: 40%;
  }
  &::after {
    content:"";
    position: absolute;
    top:  calc(50% - 17px);
    right: 0;
    height: 2px;
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $lightGold);
    width: 40%;
  }
}
.line-quote-text {
  display: block;
  position: relative;
  font-family: Georgia;
  font-size: 60px;
  line-height: 1;
  color: #FFFFFF;
  height: 30px;
  margin: 15px 0;
  &::after {
    content:"";
    position: absolute;
    top:  calc(50% - 1px);
    left: 40px;
    height: 2px;
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $lightGold);
    width: 93%;
  }
}
.double-triangle {
  position: relative;
  height: 50px;
  display: block;
  &-left {
    margin-bottom: 30px;
    .double-triangle-left_svg {
      position: absolute;
      left: 0;
      max-height: rem(34px);
    }
  }
  .double-triangle_svg {
    position: absolute;
    left: calc(50% - 21px);
    animation: triangle-animte 1.5s ease-out infinite
  }
}
.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  z-index: 300;
  display: none;
  &--active {
    display: block;
  }
}
.close {
  bottom: 100%;
  position: absolute;
  left: 100%;
  height: 40px;
  width: 40px;
  transition: all .3s ease-out;
  padding: 5px;
  &:hover {
    transform: scale(1.2);
    transition: all .3s ease-out;
    cursor: pointer;
  }
  &:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0; 
    height: 3px;
    width: 35px;
    transform: rotate(45deg);
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $lightGold);
  }
  &:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0; 
    height: 3px;
    width: 35px;
    transform: rotate(-45deg);
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $lightGold);
  }
}
.text-bold {
  font-weight: 900 !important;
}
.text-light {
  font-weight: 100 !important;
}
video.video {
  margin: 0 auto;
  display: block;
  background-color: #ccc;
  width: 80%;
}
video.video-feedback {
  margin: 0 auto 50px;
  display: block;
  background-color: #ccc;
  width: 40%;
}

// INFO-BLOCK

.info-block {
  display: flex;
  &__left {
    flex: 1;
    
    &_back-img {
      background-image: url(../images/bg/motion-card.png);
      padding: rem(40px) rem(35px);
    }
    &_img {
      width: 100%;
    }
  }
  
  &__right {
    flex: 2;
    padding: 0 20px;
    
    .link {
      font-family: 'FuturaPT', sans-serif;
      font-style: normal;
      font-weight: 450;
      @include font-size(20px);
      line-height: rem(26px);
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
  .double-triangle-left_svg {
    top: -4px;
  }
  .text-block {
    @include font-size(18px);
    p {
      margin-bottom: 0;
    }
  }
}
.text-block__triangle {
  padding-left: 60px;
  position: relative;
}

.gold-text {
  font-family: 'FuturaPT', sans-serif;
  font-style: normal;
  font-weight: 450;
  color: $darkGold;
  background: $middleGold;
  background: linear-gradient(to right, $darkGold, $middleGold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: all .3s ease;
  &:hover {
    transition: all .3s ease;
    color: #B99063;
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $darkGold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes triangle-animte {   
  0% {     
    top: 0px;
  }   
  10% {     
    top: 2px;   
  }   
  20% {     
    top: 4px;   
  }   
  30% {    
    top: 6px;   
  }  
  40% {     
    top: 8px;   
  } 
  50% {
    top: 10px; 
  } 
  60% {
    top: 8px; 
  } 
  70% {
    top: 6px; 
  } 
  80% {
    top: 4px; 
  } 
  90% {
    top: 2px; 
  } 
  100% {
    top: 0px; 
  }
}

@keyframes triangle-animte-left {   
  0% {     
    left: -6px;
  }   
  10% {     
    left: -4px;   
  }   
  20% {     
    left: -2px;   
  }   
  30% {    
    left: 0px;   
  }  
  40% {     
    left: 2px;   
  } 
  50% {
    left: 4px; 
  } 
  60% {
    left: 2px; 
  } 
  70% {
    left: 0px; 
  } 
  80% {
    left: -2px; 
  } 
  90% {
    left: -4px; 
  } 
  100% {
    left: -6px; 
  }
}


// OWL
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  color: transparent;
}