@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
       url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
       url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
