@import "normalize";

// libruary
@import "lib/owl.carousel.scss";

//config
@import "config/variable.scss";
@import "config/mixins.scss";

//resolution
$noute1400: 1400px;
$noute1200: 1200px;
$noute950: 950px;
$tablets: 768px;
$phones: 667px;
$phones-xs: 568px;

//base
@import "layout/font.scss";
@import "layout/base.scss";
@import "layout/adjustment.scss";

//section
@import "section/header.scss";
@import "section/hero.scss";
@import "section/about.scss";
@import "section/stat.scss";
@import "section/portfolio.scss";
@import "section/service.scss";
@import "section/feedback.scss";
@import "section/application.scss";
@import "section/accordion.scss";

//courses
@import "section/courses/first.scss";
@import "section/courses/profession.scss";

@import "section/footer.scss";
@import "section/burger.scss";
@import "section/popup.scss";
@import "section/modal.scss";


// media-quries
@import "section/media.scss";
