extends ../loyout

block variables
    - var title= "MAYONE.PRO"
block content
    header.header
        .container
            .header__top
                a.logo(href="")
                    svg.logo__svg(width='100%' height='100%')
                        use(xlink:href=`images/icons/sprite.svg#MAYONEPRO`)
            .header__bottom
                nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link.nav__link--active(href="#first" onclick="return anchorScroller(this)") Главная
                        li.nav__item
                            a.nav__link(href="#about" onclick="return anchorScroller(this)") О курсе
                        li.nav__item
                            a.nav__link(href="#programs" onclick="return anchorScroller(this)") Программа
                        li.nav__item
                            a.nav__link(href="#cost" onclick="return anchorScroller(this)") Стоимость
                        li.nav__item
                            a.nav__link(href="#faq" onclick="return anchorScroller(this)") FAQ
                        li.nav__item
                            a.nav__link(href="#application" onclick="return anchorScroller(this)") Обучение
        .header__social
            .social
                -
                    var socials = [
                        ['inst','https://instagram.com/mayone.pro?igshid=ifxlt1rdey2h'],
                        ['telegram','https://tmgo.me/rinamayone']
                        ]
                ul.social__list
                    each social in socials
                        li.social__item
                            a(class=`social__link social__link_${social[0]}` href=`${social[1]}` target="_blank")
                                svg.social__link_svg(width='100%' height='100%')
                                    use(xlink:href=`images/icons/sprite.svg#${social[0]}`)
    section.hero.first#first
      .container
        .first__block
          .first__content
            .first__content-description
              h1.first__content_title авторский курс от rina mayone
                span.first__content_subtitle Motion - design с нуля
              .first__content-desc
                .line-quote-text "
                .first__content-animation-block
                  p.first__content_text “Когда вы покупаете обучение, вы получаете не просто объяснение команд, которые нужно использовать.
                  p.first__content_text.first__content_text--short.text-bold Вы покупаете навык и возможность зарабатывать на том, что нравится”
            .first__content_btns
              .btn.btn--gold-gradient ЗАПИСАТЬСЯ
              .btn.btn--black-white программа курса
          .first__pictures
            img.first__pictures_img(src="images/content/first-img.png", alt="MAYONEPRO")  
    section.section
      .container
        h2.section-title Думаете, что моушн-дизайн это сложно?
          .double-triangle
            svg.double-triangle_svg(width="42" height="45" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M27 56L3.61731 21.5L50.3827 21.5L27 56Z", fill="black")
              path(d="M48.4969 12.5L27 44.2176L5.50311 12.5L48.4969 12.5Z", stroke="url(#paint0_linear)", stroke-width="2")
              defs
                linearGradient(id="paint0_linear", x1="27", y1="46", x2="27", y2="0", gradientUnits="userSpaceOnUse")
                  stop(stop-color="#F9E0B0")
                  stop(offset="1", stop-color="#855024")
        h2.section-title Да!
        .subtitle-text.subtitle-text--center 
          p И хорошо оплачивается :)
          p.text-bold А научиться может абсолютно каждый 
        video.video(controls poster="images/bg/video-1.png" preload="none")
          source(src="video/video-1.mp4" type="video/mp4")
    section.section.section--border-gold.section-profession
      .container
        h2.section-title.text-light 
          span.text-bold новая профессия
          |  через 5 недель
        .profession
          .card-block.card-block--three-card.card-block--three-card--responsive
            .card-block__item
              .card--icon-text
                .card-icon
                  .card-icon-cilce.card-icon-cilce-one
                  .card-icon-cilce.card-icon-cilce-two
                  .card-icon-cilce.card-icon-cilce-three
                  img(src="images/icons/profession-1.png", alt="")
                .card-description
                  p.text-bold Видео - это 80%  контента в интернете.
                  p И популярность этого формата только растет. А специалистов, умеющих работать в проф.софте катастрофически не хватает.
            .card-block__item
              .card--icon-text
                .card-icon
                  .card-icon-cilce.card-icon-cilce-one
                  .card-icon-cilce.card-icon-cilce-two
                  .card-icon-cilce.card-icon-cilce-three
                  img(src="images/icons/profession-2.png", alt="")
                .card-description
                  p Пока остальные монтируют по шаблонам на телефоне, вы учитесь создавать 
                    span.text-bold уникальные творческие проекты 
                    | для любых сфер.
                  p И выходите на рынок, как специалист.
            .card-block__item
              .card--icon-text
                .card-icon
                  .card-icon-cilce.card-icon-cilce-one
                  .card-icon-cilce.card-icon-cilce-two
                  .card-icon-cilce.card-icon-cilce-three
                  img(src="images/icons/profession-3.png", alt="")
                .card-description
                  p КАЧЕСТВЕННЫЙ ВИДЕОКОНТЕНТ УВЕЛИЧИВАЕТ 
                    span.text-bold  ВОВЛЕЧЕННОСТЬ, ПРОДАЖИ И ДОВЕРИЕ. 
                    | это ТРИ САМЫХ ВАЖНЫХ ПОКАЗАТЕЛЯ ДЛЯ ЛЮБых ПРЕДПРИНИМАТЕЛей, и они готовы за них платить
    section.section#about
      .container
        .info-block
          .info-block__left 
            .info-block__left_back-img
              img.info-block__left_img(src="images/content/how_it_will_be.gif")
          .info-block__right
            h2.section-title.section-title--left.section-title--not-triangle "ЧТО Я ПОЛУЧУ?"
            .line-text
            .text-block
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p навыки работы в программах 
                    span.text-bold Adobe Premiere Pro
                    |  и Adobe 
                    span.text-bold After Effects. 
                  p сильная база и секреты эффективной работы в проф. софте. 
                  p вы разберетесь в программах, даже если до этого никогда не работали с медиа.
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p.text-bold готовые работы, которые не стыдно положить в портфолио.
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p экономию времени с бОльшим результатом. когда у вас есть наставник, появляется не только дополнительная мотивация, но и отвественность. вся необходимая информация в одином курсе.
              .text-block__triangle
                a.link.gold-text(href="") проходи и начинай зарабатывать!
    section.section.section--black#programs
      .container 
        h2.section-title.section-title--white программа обучения
          .double-triangle
            svg.double-triangle_svg(width="42" height="45" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M27 56L3.61731 21.5L50.3827 21.5L27 56Z", fill="white")
              path(d="M48.4969 12.5L27 44.2176L5.50311 12.5L48.4969 12.5Z", stroke="url(#paint0_linear)", stroke-width="2")
              defs
                linearGradient(id="paint0_linear", x1="27", y1="46", x2="27", y2="0", gradientUnits="userSpaceOnUse")
                  stop(stop-color="#F9E0B0")
                  stop(offset="1", stop-color="#855024")
        .accordion
          .accordion-tab
            .line-text
            .accordion-tab__header 
              .accordion-tab__num
                span.accordion-tab__num-back
                span.accordion-tab__number 1
              .accordion-tab__checker
                span.accordion-tab__checker-plus 
              | ВВЕДЕНИЕ В ВИДЕОМЕЙКИНГ
            .accordion-tab__content
              .accordion-tab__text
                p типы видеоконтента, востребованные направления
                p составляющие видеомонтажа. дизайн и насмотренность.
                p особенности монтажа для соц сетей. 
                p как создавать видео, которые будут смотреть
                p как прописывать сценарий
                p основы монтажа: основные понятия, крупность планов, виды переходов
                p музыкальное сопровождение. откуда брать музыку, работа с авторским правом, виды музыкального сопровождения
          .accordion-tab
            .line-text
            .accordion-tab__header 
              .accordion-tab__num
                span.accordion-tab__num-back
                span.accordion-tab__number 2
              .accordion-tab__checker
                span.accordion-tab__checker-plus 
              | ВВЕДЕНИЕ В ВИДЕОМЕЙКИНГ
            .accordion-tab__content
              .accordion-tab__text
                p типы видеоконтента, востребованные направления
                p составляющие видеомонтажа. дизайн и насмотренность.
                p особенности монтажа для соц сетей. 
                p как создавать видео, которые будут смотреть
                p как прописывать сценарий
                p основы монтажа: основные понятия, крупность планов, виды переходов
                p музыкальное сопровождение. откуда брать музыку, работа с авторским правом, виды музыкального сопровождения
          .accordion-tab
            .line-text
            .accordion-tab__header
              .accordion-tab__num
                span.accordion-tab__number 3
              .accordion-tab__checker
                span.accordion-tab__checker-plus 
              | ВВЕДЕНИЕ В ВИДЕОМЕЙКИНГ
            .accordion-tab__content
              .accordion-tab__text
                p типы видеоконтента, востребованные направления
                p составляющие видеомонтажа. дизайн и насмотренность.
                p особенности монтажа для соц сетей. 
                p как создавать видео, которые будут смотреть
                p как прописывать сценарий
                p основы монтажа: основные понятия, крупность планов, виды переходов
                p музыкальное сопровождение. откуда брать музыку, работа с авторским правом, виды музыкального сопровождения
            .line-text
    section.section.section--about-study
      .container
        .info-block
          .info-block__left 
            .info-block__left_back-img
              img.info-block__left_img(src="images/content/how_it_will_be.gif")
          .info-block__right
            h2.section-title.section-title--left.section-title--not-triangle “КАК ВСЕ БУДЕТ?”
            .line-text
            .text-block
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p все видеоуроки размещены на образовательной платформе. под каждым видео собраны необходимые файлы для работы. смотрите урок, скачиваете материалы и выполняете домашнее задание. 
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p.text-bold курс нельзя просто просмотреть. домашние задания обязательны. у вас без вариантов будут работы в портфолио :)
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p доступ к урокам сохраняется на 3 или 6 месяцев, в зависимости от тарифа.
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p вы будете приглашены в чат для общения с будущими коллегами.
              .text-block__triangle
                .double-triangle-left
                  svg.double-triangle-left_svg(width='41', height='40', viewbox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M41 19.7677L15.7411 36.8872L15.7411 2.64827L41 19.7677Z', fill='black')
                    path(d='M9.41978 4.53407L31.8963 19.7677L9.41978 35.0014L9.41978 4.53407Z', stroke='url(#paint0_linear)', stroke-width='2')
                    defs
                      lineargradient#paint0_linear(x1='33.6787', y1='19.7677', x2='0.000138193', y2='19.7677', gradientunits='userSpaceOnUse')
                        stop(stop-color='#F9E0B0')
                        stop(offset='1', stop-color='#855024')
                  p.gold-text все, что вам нужно - это компьютер, интернет и желание освоить новую профессию.
    section.section.section--black.section--about-author
      .container
        h2.section-title.section-title--white об авторе курса
          .double-triangle
            svg.double-triangle_svg(width="42" height="45" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M27 56L3.61731 21.5L50.3827 21.5L27 56Z", fill="white")
              path(d="M48.4969 12.5L27 44.2176L5.50311 12.5L48.4969 12.5Z", stroke="url(#paint0_linear)", stroke-width="2")
              defs
                linearGradient(id="paint0_linear", x1="27", y1="46", x2="27", y2="0", gradientUnits="userSpaceOnUse")
                  stop(stop-color="#F9E0B0")
                  stop(offset="1", stop-color="#855024")
        .about.about--new
            .about__left
                img.about__right_img(src="images/content/author.jpg")
            .about__right
              .about__right-wrap
                .text-block
                  p.text.text-subtitle.text-bold высшее образование:
                  p СПБГУПТД, бакалавр, специальность: дизайн.
                  p Дополнительное художественное образование в школе искусств.
                  p.text.text-subtitle.text-bold курсы повышения квалификации:
                  ul.text-list 
                    li.text-list__item 3d Max
                    li.text-list__item Motion Design
                    li.text-list__item Режиссер рекламы
                .line-quote-text " 
                .text-block.text-small
                    p «Я начинала в профессии видеомейкера с полного нуля, без знакомых и связей. я знаю, что такое получать отказ за отказом, просто потому что ты новичок и не знаешь,как действовать. я прошла путь от мелких заказов за 500 руб. до заработка от 100 тыс. руб в месяц только на монтаже. и теперь помогаю другим не допускать такие же ошибки!
                    p Мы привыкли ругать себя, обесценивать свой труд и говорить о том, что у нас просто нет творческого таланта. Так вот таланта действительно не существует! Существует упорный труд и развитие насмотренности. Каждый может стать творческим специалистом и зарабатывать на том, что вдохновляет!»
                .about__block-btn
                  .double-triangle-left
                    svg.double-triangle-left_svg(width='44', height='42', viewbox='0 0 44 42', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M43.3052 20.7678L16.7685 38.7533L16.7685 2.78236L43.3052 20.7678Z', fill='white')
                      path(d='M10.0771 4.66816L33.8314 20.7678L10.0771 36.8675L10.0771 4.66816Z', stroke='url(#paint0_linear)', stroke-width='2')
                      defs
                        lineargradient#paint0_linear(x1='35.6138', y1='20.7678', x2='0.231564', y2='20.7678', gradientunits='userSpaceOnUse')
                          stop(stop-color='#F9E0B0')
                          stop(offset='1', stop-color='#855024')
                  a.btn.btn--gold-gradient(href="") ХОЧУ ТАКЖЕ!
    section.section#feedback
      .container
        h2.section-title работы учеников и отзывы
          .double-triangle
            svg.double-triangle_svg(width="42" height="45" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M27 56L3.61731 21.5L50.3827 21.5L27 56Z", fill="black")
              path(d="M48.4969 12.5L27 44.2176L5.50311 12.5L48.4969 12.5Z", stroke="url(#paint0_linear)", stroke-width="2")
              defs
                linearGradient(id="paint0_linear", x1="27", y1="46", x2="27", y2="0", gradientUnits="userSpaceOnUse")
                  stop(stop-color="#F9E0B0")
                  stop(offset="1", stop-color="#855024")

        video.video-feedback(controls poster="images/bg/video-1.png" preload="none")
          source(src="video/video-1.mp4" type="video/mp4")
        .feedback.owl-carousel.feedback--mod-inline
          .feedback__item 
            .feedback-user
              .feedback-avatar(style="background-image: url(images/content/two.jpg)")
              a.feedback-name(href="#") Юлия Пантас
            .feedback-text 
              .text-block.text-block--fs18
                p   “Я организатор спортивных соревнований для питбулей.Когда возникла необходимость снять для них просто ролик,подобрать человека,кто сможет это осуществить оказалось сложной задачей.Многие отказывались снимать так как боятся собак,кто-то делал абсолютно не то,что требуется.Не мог раскрыть идею,характер и посыл наших состязаний.Поэтому Рина оказалась для нас настоящей находкой!все именно так,как я хотела!))Все снято очень «вкусно» и с нужного мне «угла») Как итог новые спортсмены в наших рядах и огромное количество просмотров и хвалебных отзывов))”
          .feedback__item 
            .feedback-user
              .feedback-avatar(style="background-image: url(images/content/two.jpg)")
              a.feedback-name(href="#") Юлия Пантас
            .feedback-text 
              .text-block.text-block--fs18
                p   “Я организатор спортивных соревнований для питбулей.Когда возникла необходимость снять для них просто ролик,подобрать человека,кто сможет это осуществить оказалось сложной задачей.Многие отказывались снимать так как боятся собак,кто-то делал абсолютно не то,что требуется.Не мог раскрыть идею,характер и посыл наших состязаний.Поэтому Рина оказалась для нас настоящей находкой!все именно так,как я хотела!))Все снято очень «вкусно» и с нужного мне «угла») Как итог новые спортсмены в наших рядах и огромное количество просмотров и хвалебных отзывов))”
    section.section.section--black#cost
      .container
        h2.section-title.section-title--white ТАРИФЫ
          .double-triangle
            svg.double-triangle_svg(width="42" height="45" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M27 56L3.61731 21.5L50.3827 21.5L27 56Z", fill="white")
              path(d="M48.4969 12.5L27 44.2176L5.50311 12.5L48.4969 12.5Z", stroke="url(#paint0_linear)", stroke-width="2")
              defs
                linearGradient(id="paint0_linear", x1="27", y1="46", x2="27", y2="0", gradientUnits="userSpaceOnUse")
                  stop(stop-color="#F9E0B0")
                  stop(offset="1", stop-color="#855024")
        .card-block.card-block--two-card.card-block--black
          .card-block__item
            .card
              .card__title самостоятельный
              .card__content
                .card__content_top
                  ul.card-list.card-list--check
                    li.card-list__item 1 пункт
                    li.card-list__item 1 пункт
                    li.card-list__item 1 пункт
                    li.card-list__item 1 пункт
              .card__block-btn
                a.btn.btn--transparent(href="")  Купить
          .card-block__item
            .card
              .card__title с обратной связью 
              .card__content
                .card__content_top
                  ul.card-list.card-list--check
                    li.card-list__item 1 пункт
                    li.card-list__item 1 пункт
                    li.card-list__item 1 пункт
                    li.card-list__item 1 пункт
              .card__block-btn
                a.btn.btn--transparent(href="")  Купить
    section.section#faq
      .container 
        h2.section-title программа обучения
          .double-triangle
            svg.double-triangle_svg(width="42" height="45" viewBox="0 0 54 56" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M27 56L3.61731 21.5L50.3827 21.5L27 56Z", fill="black")
              path(d="M48.4969 12.5L27 44.2176L5.50311 12.5L48.4969 12.5Z", stroke="url(#paint0_linear)", stroke-width="2")
              defs
                linearGradient(id="paint0_linear", x1="27", y1="46", x2="27", y2="0", gradientUnits="userSpaceOnUse")
                  stop(stop-color="#F9E0B0")
                  stop(offset="1", stop-color="#855024")
        .accordion.accordion--not-number-line
          .accordion-tab.accordion-tab-not-triangle
            .line-text
            .accordion-tab__header 
              .accordion-tab__num
                span.accordion-tab__num-back
                span.accordion-tab__number ?
              .accordion-tab__checker
                span.accordion-tab__checker-plus 
              | Подойдет ли мне курс, если я никогда не работала в компьютерных программах?
            .accordion-tab__content
              .accordion-tab__text
                p Да! Программа курса рассчитана на новичков. Не важно, кем вы сейчас работаете и был ли у вас дизайнерский опыт. На курсе есть целый раздел о том, как развить свою креативность и насмотренность.
          .accordion-tab.accordion-tab-not-triangle
            .line-text
            .accordion-tab__header 
              .accordion-tab__num
                span.accordion-tab__num-back
                span.accordion-tab__number ?
              .accordion-tab__checker
                span.accordion-tab__checker-plus 
              | Обязательно ли покупать лицензионный версии программ?
            .accordion-tab__content
              .accordion-tab__text
                p Да! Программа курса рассчитана на новичков. Не важно, кем вы сейчас работаете и был ли у вас дизайнерский опыт. На курсе есть целый раздел о том, как развить свою креативность и насмотренность.
          .accordion-tab.accordion-tab-not-triangle 
            .line-text
            .accordion-tab__header
              .accordion-tab__num
                span.accordion-tab__number ?
              .accordion-tab__checker
                span.accordion-tab__checker-plus 
              | Что я буду уметь после прохождения курса?
            .accordion-tab__content
              .accordion-tab__text
                p Да! Программа курса рассчитана на новичков. Не важно, кем вы сейчас работаете и был ли у вас дизайнерский опыт. На курсе есть целый раздел о том, как развить свою креативность и насмотренность.
          .accordion-tab.accordion-tab-not-triangle 
            .line-text
            .accordion-tab__header
              .accordion-tab__num
                span.accordion-tab__number ?
              .accordion-tab__checker
                span.accordion-tab__checker-plus 
              | “потянет” ли мой компьютер?
            .accordion-tab__content
              .accordion-tab__text
                p Да! Программа курса рассчитана на новичков. Не важно, кем вы сейчас работаете и был ли у вас дизайнерский опыт. На курсе есть целый раздел о том, как развить свою креативность и насмотренность.
            .line-text
    section.section.section--black-bg#application
      h2.section-title-bg выбор за вами!
      .container 
        .choice-wrap 
          .choice
            .choice__item.choice__item--small
              .choice__item-icon
                img(src="images/content/choice-one.png", alt="Оставить все как есть")
              .choice__item-description Оставить все
                br
                | как есть
              .choice__item-btn
                a(href="#").btn.btn--transparent.disabled ничего&nbsp;не&nbsp;делать&nbsp;:&nbsp;(
            .choice__item.choice__item--big
              .choice__item-icon
                img(src="images/content/choice-two.png", alt="стать востребованным специалистом")
              .choice__item-description стать востребованным специалистом и начать зарабатывать на творчестве
              .choice__item-btn
                a(href="#").btn.btn--gold-gradient Выбрать