.accordion {
  position: relative;
  &--not-number-line:before  {
    display: none;
  }
  .line-text {
    background: #E5E5E5;
  }
}
.accordion:before {
  content: '';
  position: absolute;
  left: 24px;
  top: 25px;
  width: 1px;
  height: 85%;
  background-color: $middleGold;
}
.accordion-tab:not(.open) .accordion-tab__content {
  height: 0!important;
}
.accordion .accordion-tab__content {
  overflow: hidden;
  transition: height .5s ease;
}
.accordion-tab__header {
  font-family: 'FuturaPT', sans-serif;
  font-style: normal;
  font-weight: 450;
  @include font-size(24px);
  line-height: rem(31px);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
  margin: 15px 0;
  padding-right: rem(45px);
  cursor: pointer;
  position: relative;
}
.accordion-tab {
  padding-left: rem(70px);
  &-not-triangle {
    .accordion-tab__text p {
      padding-left: 0;
  
      &:before {
        display: none;
      }
    }
  } 
}
.accordion-tab .line-text {
  margin: 0;
}
.accordion-tab__text {
  padding-bottom: 20px;
  position: relative;
}
.accordion-tab__text p {
  padding-left: 25px;
  position: relative;
  margin-bottom: 5px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 12px;
    height: 17px;
    background-image: url('../images/icons/triangle-gold-left.svg');
    background-size: cover;
  }
}
.accordion-tab__triangle {
  position: absolute;
  top: 2px;
  left: 0;
}
.accordion-tab__num {
  background-color: transparent;
  position: absolute;
  left: -65px;
  top: -15px;
  height: 60px;
  width: 60px;
  background-color: #fff;
  
  .accordion-tab__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-22px) translateX(-22px);
    border: 2px;
    height: 44px;
    width: 44px;
    text-align: center;
    line-height: 1.7;
    font-weight: bold;
    border: 2px solid;
    border-radius: 50px;
    color: #B99063;
    background-color: #fff;
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $darkGold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.accordion-tab__num-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-22px) translateX(-22px);
  border: 2px;
  height: 44px;
  width: 44px;
  background-color: #fff;
}

.accordion-tab__checker {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-17px);
  height: 34px;
  width: 34px;
  text-align: center;
  line-height: 1.7;
  font-weight: bold;
  border: 1px solid;
  border-radius: 50px;
  border-color: #000;

  &-plus {
    height: 30px;
    width: 30px;

    &:before {
      content: '';
      height: 2px;
      width: 10px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-1px) translateX(-5px);
      opacity: 1;
      transition: all .3s ease;
    }

    &:after {
      content: '';
      height: 10px;
      width: 2px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-5px) translateX(-1px);
      transition: all .3s ease;
    }
  }
}

.accordion-tab {
  &.open {
    .accordion-tab__checker-plus:after {
      opacity: 0;
      transition: all .3s ease;
    }
  }
}

.section--black {
  .line-text {
    background: $middleGold;
    background: linear-gradient(to right, $darkGold, $lightGold);
  }
  .accordion-tab__header {
    color: #FFFFFF;
  }
  .accordion-tab__num {
    background-color: #000;
    
    .accordion-tab__number {
      background-color: #000;
    }
  }
  .accordion-tab__num-back {
    background-color: #000;
  }
  .accordion-tab__checker {
    border-color: #FFFFFF;
  
    &-plus {
  
      &:before {
        background-color: #fff;
      }
  
      &:after {
        background-color: #fff;
      }
    }
  }
}